@model ProjectASP.NET.Models.GameModel

@{ }

<div class="container-fluid m-3">
    <h2>Add game</h2>
    <form asp-controller="Game" asp-action="Add" method="post">
        <div class="mb-1">
            <label asp-for="Availability">Available?</label>
            <input class="ml-2 form-check-input" asp-for="Availability" checked />
        </div>
        <div class="mb-3">
            <label asp-for="Title">Title</label>
            <span asp-validation-for="Title" class="text-danger"></span>
            <input class="form-control" asp-for="Title" />
        </div>
        <div class="mb-3">
            <label asp-for="genre">Genre</label>
            <span asp-validation-for="genre" class="text-danger"></span>
            <select class="form-control mt-2" asp-for="genre" asp-items="Html.GetEnumSelectList<GameModel.Genre>()"></select>
        </div>
        <div class="mb-3">
            <label asp-for="Platform">Platform</label>
            <span asp-validation-for="Platform" class="text-danger"></span>
            <input class="form-control" asp-for="Platform" />
        </div>
        <div class="mb-3">
            <label asp-for="Developer">Developer</label>
            <span asp-validation-for="Developer" class="text-danger"></span>
            <input class="form-control" asp-for="Developer" />
        </div>
        <div class="mb-3">
            <label asp-for="Publisher">Publisher</label>
            <span asp-validation-for="Publisher" class="text-danger"></span>
            <input class="form-control" asp-for="Publisher" />
        </div>
        <div class="mb-3">
            <label asp-for="UserName">Username</label>
            <span asp-validation-for="UserName" class="text-danger"></span>
            <input class="form-control" asp-for="UserName" />
        </div>
        <div class="col col-lg-3 pl-0 mt-2">
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>