@model ProjectASP.NET.Models.UserModel

@{ }

<div class="container-fluid" m-3>
    <h2>Wpisz dane kontaktu</h2>
    <form asp-controller="User" asp-action="Add" method="post">
        <div class="mb-3">
            <label asp-for="name">Name</label>
            <span asp-validation-for="name" class="text-danger"></span>
            <input class="form-control" asp-for="name" />
        </div>
        <div class="mb-3">
            <label asp-for="surname">Surname</label>
            <span asp-validation-for="surname" class="text-danger"></span>
            <input class="form-control" asp-for="surname" />
        </div>
        <div class="mb-3">
            <label asp-for="birthDate">Birthdate</label>
            <span asp-validation-for="birthDate" class="text-danger"></span>
            <input class="form-control" asp-for="birthDate" />
        </div>
        <div class="mb-3">
            <label asp-for="gender">Gender</label>
            <select class="form-control mt-2" asp-for="gender" asp-items="Html.GetEnumSelectList<UserModel.Gender>()"></select>
        </div>
        <div class="mb-3">
            <label asp-for="login">Login</label>
            <span asp-validation-for="login" class="text-danger"></span>
            <input class="form-control" asp-for="login" />
        </div>
        <div class="mb-3">
            <label asp-for="email">Mail</label>
            <span asp-validation-for="email" class="text-danger"></span>
            <input class="form-control" asp-for="email" />
        </div>
        <div class="mb-3">
            <label asp-for="confirmEmail">Confirm email</label>
            <span asp-validation-for="confirmEmail" class="text-danger"></span>
            <input class="form-control" asp-for="confirmEmail" />
        </div>
        <div class="mb-3">
            <label asp-for="phone">Phone</label>
            <span asp-validation-for="phone" class="text-danger"></span>
            <input class="form-control" asp-for="phone" />
        </div>
        <div class="mb-3">
            <label asp-for="pass">Password</label>
            <span asp-validation-for="pass" class="text-danger"></span>
            <input class="form-control" asp-for="pass" />
        </div>
        <div class="mb-3">
            <label asp-for="confirmPass">Confirm password</label>
            <span asp-validation-for="confirmPass" class="text-danger"></span>
            <input class="form-control" asp-for="confirmPass" />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>