@model ProjectASP.NET.Models.UserModel

@{ }

<div class="container-fluid" m-3>
    <h2>Edit user</h2>
    <form asp-controller="Account" asp-action="EditUserData" method="post">
        <input asp-for="UserId"/>
        <div class="mb-3">
            <label asp-for="Name">Name</label>
            @*<span asp-validation-for="name" class="text-danger"></span>*@
            <input class="form-control" asp-for="Name" />
        </div>
        <div class="mb-3">
            <label asp-for="Surname">Surname</label>
            @*<span asp-validation-for="surname" class="text-danger"></span>*@
            <input class="form-control" asp-for="Surname" />
        </div>
        <div class="mb-3">
            <label asp-for="Username">Login</label>
            @*<span asp-validation-for="email" class="text-danger"></span>*@
            <input class="form-control" asp-for="Username" />
        </div>
        <div class="mb-3">
            <label asp-for="Email">Mail</label>
            @*<span asp-validation-for="email" class="text-danger"></span>*@
            <input class="form-control" asp-for="Email" />
        </div>
        <div class="mb-3">
            <label asp-for="Phone">Phone</label>
            @*<span asp-validation-for="phone" class="text-danger"></span>*@
            <input class="form-control" asp-for="Phone" />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>